In [4]:
dist = {}
with open("monthdata.csv", "r") as f:
    for line in f:
        token = line.split(",")
        month = token[0]
        value = token[1].strip()
        dist[month] = value
dist

{'january': '100',
 'february': '200',
 'march': '300',
 'april': '400',
 'may': '500',
 'june': '600',
 'july': '700',
 'august': '800',
 'september': '900',
 'october': '1000',
 'november': '1100',
 'december': '1200'}

In [9]:
data = []
with open("monthdata.csv", "r") as f:
    for line in f:
        token = line.split(",")
        month = token[0]
        value = token[1].strip()
        data.append([month, value])
data

[['january', '100'],
 ['february', '200'],
 ['march', '300'],
 ['april', '400'],
 ['may', '500'],
 ['june', '600'],
 ['july', '700'],
 ['august', '800'],
 ['september', '900'],
 ['october', '1000'],
 ['november', '1100'],
 ['december', '1200']]

In [10]:
class HashTable:
    def __init__(self):
        self.max = 100
        self.arr = [None for i in range(self.max)]
        
    def get_hash(self, key):
        h = 0
        for char in key:
            h+= ord(char)
        return h % 100
    
    def __setitem__(self, key, value):
        h = self.get_hash(key)
        self.arr[h] = value
        
    def __getitem__(self, key):
        h = self.get_hash(key)
        return self.arr[h]

In [15]:
t = HashTable()
t["january"] = 100
for arr in data:
    t[arr[0]] = arr[1]
t.arr

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 '1200',
 None,
 None,
 None,
 '500',
 None,
 None,
 None,
 None,
 None,
 None,
 '600',
 None,
 '400',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 '1000',
 None,
 '700',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 '1100',
 None,
 '200',
 '800',
 None,
 '900',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [13]:
t["january"]

100

In [16]:
t["march"]

'1200'

In [1]:
prices = [1,2,3,4]

In [2]:
prices.__setitem__(0,"r")
prices

['r', 2, 3, 4]

In [3]:
prices.__getitem__(-1)

4

In [6]:
dist

{'january': '100',
 'february': '200',
 'march': '300',
 'april': '400',
 'may': '500',
 'june': '600',
 'july': '700',
 'august': '800',
 'september': '900',
 'october': '1000',
 'november': '1100',
 'december': '1200'}

In [9]:
dist[3]

KeyError: 3

In [10]:
dist["july"]

'700'

In [11]:
for e in dist:
    print(e)

january
february
march
april
may
june
july
august
september
october
november
december

In [14]:
for k,v in dist.items():
    print(k,v)

january 100
february 200
march 300
april 400
may 500
june 600
july 700
august 800
september 900
october 1000
november 1100
december 1200

In [17]:
for k in dist.items():
    print(k)
print(type(k))

('january', '100')
('february', '200')
('march', '300')
('april', '400')
('may', '500')
('june', '600')
('july', '700')
('august', '800')
('september', '900')
('october', '1000')
('november', '1100')
('december', '1200')
<class 'tuple'>

In [18]:
a,b = (5,7)

In [19]:
a

5

In [20]:
b

7

In [21]:
a,b = 5,7

In [22]:
b

7

In [23]:
x=y=0

In [24]:
y

0

In [25]:
x

0

In [26]:
y=5

In [27]:
x

0

In [30]:
1=1

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (1748595019.py, line 1)