In [1]:
dist = {}
with open("monthdata.csv", "r") as f:
    for line in f:
        token = line.split(",")
        month = token[0]
        value = token[1].strip()
        dist[month] = value
dist

{'january': '100',
 'february': '200',
 'march': '300',
 'april': '400',
 'may': '500',
 'june': '600',
 'july': '700',
 'august': '800',
 'september': '900',
 'october': '1000',
 'november': '1100',
 'december': '1200'}

In [2]:
data = []
with open("monthdata.csv", "r") as f:
    for line in f:
        token = line.split(",")
        month = token[0]
        value = token[1].strip()
        data.append([month, value])
data

[['january', '100'],
 ['february', '200'],
 ['march', '300'],
 ['april', '400'],
 ['may', '500'],
 ['june', '600'],
 ['july', '700'],
 ['august', '800'],
 ['september', '900'],
 ['october', '1000'],
 ['november', '1100'],
 ['december', '1200']]

In [3]:
class HashTable:
    def __init__(self):
        self.max = 100
        self.arr = [None for i in range(self.max)]
        
    def get_hash(self, key):
        h = 0
        for char in key:
            h+= ord(char)
        return h % 100
    
    def __setitem__(self, key, value):
        h = self.get_hash(key)
        self.arr[h] = value
        
    def __getitem__(self, key):
        h = self.get_hash(key)
        return self.arr[h]

In [4]:
t = HashTable()
t["january"] = 100
for arr in data:
    t[arr[0]] = arr[1]
t.arr

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 '1200',
 None,
 None,
 None,
 '500',
 None,
 None,
 None,
 None,
 None,
 None,
 '600',
 None,
 '400',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 '1000',
 None,
 '700',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 '1100',
 None,
 '200',
 '800',
 None,
 '900',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [5]:
t["january"]

'1100'

In [6]:
t["march"]

'1200'

In [7]:
prices = [1,2,3,4]

In [8]:
prices.__setitem__(0,"r")
prices

['r', 2, 3, 4]

In [9]:
prices.__getitem__(-1)

4

In [10]:
dist

{'january': '100',
 'february': '200',
 'march': '300',
 'april': '400',
 'may': '500',
 'june': '600',
 'july': '700',
 'august': '800',
 'september': '900',
 'october': '1000',
 'november': '1100',
 'december': '1200'}

In [11]:
dist[3]

KeyError: 3

In [12]:
dist["july"]

'700'

In [13]:
for e in dist:
    print(e)

january
february
march
april
may
june
july
august
september
october
november
december

In [14]:
for k,v in dist.items():
    print(k,v)

january 100
february 200
march 300
april 400
may 500
june 600
july 700
august 800
september 900
october 1000
november 1100
december 1200

In [15]:
for k in dist.items():
    print(k)
print(type(k))

('january', '100')
('february', '200')
('march', '300')
('april', '400')
('may', '500')
('june', '600')
('july', '700')
('august', '800')
('september', '900')
('october', '1000')
('november', '1100')
('december', '1200')
<class 'tuple'>

In [16]:
a,b = (5,7)

In [17]:
a

5

In [18]:
b

7

In [19]:
a,b = 5,7

In [20]:
b

7

In [21]:
x=y=0

In [22]:
y

0

In [23]:
x

0

In [24]:
y=5

In [25]:
x

0

In [26]:
1=1

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (1748595019.py, line 1)

In [27]:
for i in dist.keys():
    print(i)

january
february
march
april
may
june
july
august
september
october
november
december

In [28]:
for i in dist.values():
    print(i)

100
200
300
400
500
600
700
800
900
1000
1100
1200

In [29]:
for i in dist.items():
    print(i)

('january', '100')
('february', '200')
('march', '300')
('april', '400')
('may', '500')
('june', '600')
('july', '700')
('august', '800')
('september', '900')
('october', '1000')
('november', '1100')
('december', '1200')

In [30]:
for i in dist:
    print(i)

january
february
march
april
may
june
july
august
september
october
november
december

In [31]:
dist["ekadashamber"] = 1500

In [32]:
dist

{'january': '100',
 'february': '200',
 'march': '300',
 'april': '400',
 'may': '500',
 'june': '600',
 'july': '700',
 'august': '800',
 'september': '900',
 'october': '1000',
 'november': '1100',
 'december': '1200',
 'ekadashamber': 1500}

In [33]:
del dist["january"]

In [34]:
dist

{'february': '200',
 'march': '300',
 'april': '400',
 'may': '500',
 'june': '600',
 'july': '700',
 'august': '800',
 'september': '900',
 'october': '1000',
 'november': '1100',
 'december': '1200',
 'ekadashamber': 1500}

In [35]:
del dist

In [36]:
dist

NameError: name 'dist' is not defined

In [37]:
dist

NameError: name 'dist' is not defined

In [38]:
array = [1,2,3,4]

In [39]:
array

[1, 2, 3, 4]

In [40]:
del array

In [41]:
array

NameError: name 'array' is not defined

In [42]:
brr = [1,2,3,4,5]
brr

[1, 2, 3, 4, 5]

In [43]:
drr = dict(brr)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [44]:
crr = [[1,2],[3,4]]
distrr = dict(crr)

In [54]:
distrr

{1: 2, 3: 4}

In [51]:
dict

dict

In [52]:
distrr

{1: 2, 3: 4}

In [55]:
distrr[1]

2

In [56]:
distrr.get(1)

2

In [58]:
print(distrr.get(10))

None

In [59]:
distrr.keys(), distrr.values(), distrr.items()

(dict_keys([1, 3]), dict_values([2, 4]), dict_items([(1, 2), (3, 4)]))

In [60]:
distrr.keys()

dict_keys([1, 3])

In [61]:
type(distrr.keys())

dict_keys

In [62]:
type(distrr.items())

dict_items

In [ ]:
s